{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'emotion_song_recommender/index.js' %}"></script>
    <title>Emotion Song Recommender</title>
    <link rel="stylesheet" type="text/css" href="{% static 'emotion_song_recommender/index.css' %}">
    
  </head>
  <body>
    <div class="container">
      <content>
      
      </content>
      
      
      <div class="header">
        <h1 class="title">Facial Emotion Song Recommender</h1>
      </div>
      
      
      <div class="lside">
        <h3 class="settings_text">Song Popularity</h3>
        <input class="settings" type="range" min="1" max="100" value="100" class="slider" id="popularity">
        <br><br>
        
        <h3 class="settings_text">Allow Explicit Songs</h3>
        <input class="settings" type="checkbox" id="explicit" name="explicit" value="explicit" checked>
        <br><br>
        
        <h3 class="settings_text">Enter Songs to Base Recommended Songs From</h3>
        <input class="settings" type="text" placeholder="Song, Artist, or Genre">
        <input class="settings" type="button" value="Search">
        

      </div>
      
      
      <div class="content">
        <br>
        <img class="preview" id="preview">
        <div class="form_container" method="post" enctype="multipart/form-data">
          <form id="class_upload">
            <br>
            <input type="file" class="image_file" id="image_file" name="image_file" accept=".png, .jpg, .jpeg" onchange="load_file(event)">
            <br>
            <br>
            <input type="button" onclick="upload()" id="upload_button"  name="upload_button" value="Upload">
            <p class="error" id="error"></p>
          </form>
          <img id="spinner" class="spinner" src="{% static 'emotion_song_recommender/spinner.gif' %}" height="100px" width="100px">
        </div>
        <div class="emotion_prediction" id="emotion_prediction"></div>
        <div class="song_results" id="song_results"></div>
      </div>
      
      
      <div class="rside">
      </div>
      
      
      <div class="footer">
      </div>
      
      
    </div>
  </body>
</html>
