{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="{% static 'emotion_song_recommender/index.js' %}"></script>
  
  <title>Emotion Song Recommender</title>
  <link rel="stylesheet" type="text/css" href="{% static 'emotion_song_recommender/index.css' %}">
</head>

<body>
  <div class="container">
    <content>

    </content>


    <div class="header">
      <h1 class="title">Facial Emotion Song Recommender</h1>
    </div>


    <div class="lside">
      <div class="settings_header_box">
        <h1 class="settings_header">Settings</h1>
      </div>

      <input id="spotify_connect" type="button" class="settings" onclick="getAuthorization()" value="Connect With Spotify">

      <h4 class="settings_text">Song Display</h4>
      <select class="settings" id="results_method">
        <option value="albums">Album Images</option>
        <option value="table">Table of Songs</option>
      </select>
      <br>

      <h4 class="settings_text">Allow Explicit Songs</h4>
      <input class="settings" type="checkbox" id="explicit" name="explicit" value="explicit" checked></input>
      <br>

      <h4 class="settings_text">Select Up to 5 Genres, Songs, or Artists to Base Recommended Songs On</h4>
      <input class="settings" type="text" id="search_text" placeholder="Search">
      <select class="settings" id="search_by">
        <option value="genre">Genres</option>
        <option value="song">Songs</option>
        <option value="artist">Artists</option>
      </select>

      <input id="search_button" class="settings" type="button" value="Search" onclick="search()">
      <h4 class="error" id="search_error">Error</h4>
      <img id="search_spinner" class="spinner" src="{% static 'emotion_song_recommender/spinner.gif' %}" height="100px"
        width="100px">

      <!-- Search Results -->
      <div id="search_results" class="search_results">
      </div>

       <!-- Selected Results -->
       <div id='selected_results' class="selected_results">
      </div>
      <br><br>

    </div>






    <div class="content">
      <img class="preview" id="preview">
      <div class="form_container" method="post" enctype="multipart/form-data">
        <form id="class_upload">
          <input type="file" class="image_file" id="image_file" name="image_file" accept=".png, .jpg, .jpeg"
            onchange="load_file(event)">
            <br>
          <input type="button" onclick="upload()" id="upload_button" name="upload_button" value="Upload">
          <p class="error" id="error">Error</p>
        </form>
        <img id="spinner" class="spinner" src="{% static 'emotion_song_recommender/spinner.gif' %}" height="100px"
          width="100px">
      </div>
      <div class="emotion_prediction" id="emotion_prediction"></div>
      <div class="song_results" id="song_results">

      </div>

      <input type="button" id="toggle_button" class="toggle_button" value="▶" onclick="toggle()">

    </div>


    <div class="rside">
    </div>


    <div class="footer">
    </div>


  </div>
</body>

</html>