html {

}

body{
  text-align: center;
  background: linear-gradient(#00BBFF, #0033CC);
  color: white;
  margin: 0px;
}

.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "lside content content"
    "lside content content";

  /*grid-template-columns: 400px 1fr 400px;*/
  grid-template-columns: 275px 1fr 400px;
  grid-template-rows: auto 1fr auto;
  /*grid-gap: 10px;*/

  height: 100vh;
}

input {
  margin: 5px;
}

.header {
  grid-area: header;
  border-bottom: solid white 2px;
  background-color: black;
  color: white;
}

.lside {
  grid-area: lside;
  border-right: solid white 2px;
  border-top: 2px solid white;
  background-color: darkblue;
}

.content {
  grid-area: content;
  color: white;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-top: 2px solid white;
  background: linear-gradient(#00BBFF, #0033CC);
}

.rside {
  grid-area: rside;
  background-color: white;
  font-size: 20px;
  font-family: monospace;
  border-left: 0px;
  border-top: 2px solid white;
  
}

.footer {
  grid-area: footer;
  border-top: 2px solid gray;
  background-color: darkblue;
}

.title {
  text-align: left;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.settings_text {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 90%;
}

.settings {
  max-width: 90%
}

input[type="range"] {
  width:350px;
}

.form_container
{
  text-align: center;
  margin: auto;
  width: "50px";
}

.error {
  color: red;
  text-align: center;
  margin: auto;
  visibility: hidden;
  background: white;
  max-width: 250px;
}

.preview {
  max-width: 30%;
  max-height: 30%;
  border: solid black 2px;
  visibility: hidden;
}

.spinner {
  display: none;
}

.track_name_title {
  padding-top: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #0033CC;
  border: solid white 1px;
  text-align: left;
  float: left;
  font-weight: bold;
  overflow: hidden;
}

.track_artist_title {
  padding-top: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #0033CC;
  border: solid white 1px;
  text-align: left;
  float: left;
  font-weight: bold;
  overflow: hidden;
}

.track_count_title {
  padding-top: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  width: 10%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #0033CC;
  border: solid white 1px;
  text-align: left;
  float: left;
  font-weight: bold;
  overflow: hidden;
}

.track_name {
  box-sizing: border-box;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  text-align: left;
  float: left;
  overflow: hidden;
}

.track_artist {
  box-sizing: border-box;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  text-align: left;
  float: left;
  overflow: hidden;
}

.track_count {
  box-sizing: border-box;
  width: 10%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  text-align: left;
  float: left;
  overflow: hidden;
}

.song {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.song_title {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.song_results {
  overflow-y: auto;
  position: relative;
  max-height: 45%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0px;
  margin-top: 0px;
}

.track_artist:hover {
  background-color: #0033CC;
  cursor: pointer;
}

.track_name:hover {
  background-color: #0033CC;
  cursor: pointer;
}

.emotion_prediction {
  color: white;
  text-align: center;
}