html {

}

body{
  text-align: center;
  background: linear-gradient(#00BBFF, #0033CC);
  color: white;
  margin: 0px;
}

.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "lside content content"
    "lside content content";

  /*grid-template-columns: 400px 1fr 400px;*/
  grid-template-columns: 275px 1fr 400px;
  grid-template-rows: auto 1fr auto;
  /*grid-gap: 10px;*/

  height: 100vh;
}

input {
  margin: 5px;
}

.header {
  grid-area: header;
  border-bottom: solid white 2px;
  background-color: black;
  color: white;
}

.lside {
  grid-area: lside;
  border-right: solid white 2px;
  border-top: 2px solid white;
  background-color: #0033CC;
}

.content {
  grid-area: content;
  color: white;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-top: 2px solid white;
  background: linear-gradient(#00BBFF, #0033CC);
}

.rside {
  grid-area: rside;
  background-color: white;
  font-size: 20px;
  font-family: monospace;
  border-left: 0px;
  border-top: 2px solid white;
  
}

.footer {
  grid-area: footer;
  border-top: 2px solid gray;
  background-color: darkblue;
}

.title {
  text-align: left;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.settings_header {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 90%;
}

.settings_header_box {
  background-color: #00BBFF;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 10px;
  border: solid white 1px;
}

.settings_text {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 90%;
  color: white;
}

.settings {
  max-width: 90%
}

input[type="range"] {
  width:350px;
}

.form_container
{
  text-align: center;
  margin: auto;
  width: "50px";
}

.error {
  color: red;
  text-align: center;
  margin: auto;
  visibility: hidden;
  background: white;
  max-width: 250px;
}

.preview {
  max-width: 25%;
  max-height: 25%;
  border: solid black 2px;
  visibility: hidden;
}

.spinner {
  display: none;
}

.track_name_title {
  padding-top: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #0033CC;
  border: solid white 1px;
  text-align: left;
  float: left;
  font-weight: bold;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
}

.track_artist_title {
  padding-top: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #0033CC;
  border: solid white 1px;
  text-align: left;
  float: left;
  font-weight: bold;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
}

.track_count_title {
  padding-top: 0px;
  margin-top: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 10%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #0033CC;
  border: solid white 1px;
  text-align: left;
  float: left;
  font-weight: bold;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
}

.track_name {
  box-sizing: border-box;
  height: 100%;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  text-align: left;
  float: left;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
}

.track_artist {
  box-sizing: border-box;
  height: 100%;
  width: 45%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  text-align: left;
  float: left;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;

}

.track_count {
  box-sizing: border-box;
  height: 100%;
  width: 10%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  text-align: left;
  float: left;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
}

.song {
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0px;
}

.song_title {
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0px;
}

.song_results {
  overflow-y: auto;
  position: relative;
  max-height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0px;
  margin-top: 0px;
}

.track_artist:hover {
  background-color: #0033CC;
  color: white;
  cursor: pointer;
}

.track_name:hover {
  background-color: #0033CC;
  color: white;
  cursor: pointer;
}

.emotion_prediction {
  color: white;
  text-align: center;
}

.search_result {
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.search_result:hover {
  background-color: #0033CC;
  color: white;
  cursor: pointer;
}

.search_results {
  box-sizing: border-box;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  overflow: hidden;
  margin: 0px;
  display: block;
  max-height: 25%;
  overflow-y: scroll;
  text-align: left;
  width: 100%;
}

.select_results {
  box-sizing: border-box;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  overflow: hidden;
  margin: 0px;
  display: block;
  max-height: 25%;
  overflow-y: scroll;
  text-align: left;
  width: 100%;
}

.select_result {
  box-sizing: border-box;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
}

.select_type {
  box-sizing: border-box;
  color: white;
  float: left;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  background-color: #0033CC;
  font-weight: bold;
  width: 20%;
  height: calc(1em + 5px);
}

.select_text {
  box-sizing: border-box;
  float: left;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  background-color: #73bbff;
  width: 80%;
  height: calc(1em + 5px);
}

.select_result:hover {
  border: solid black 1px;
}
/*
.select_result:hover > .select_type {
  background-color: #73bbff;
  color: black;
  cursor: pointer;
}*/

.select_result:hover > .select_text {
  background-color: #0033CC;
  color: white;
  cursor: pointer;
}

.select_id {
  display: none;
}

.selected_results {
  /* 30 px to account for border and padding of each item up to maximum of 5 */
  max-height: calc((1em * 5) + 30px);
  overflow: hidden;
}

.scroller {
  padding: 0px;
  margin: auto;
  height: 100%;
  max-width: 275px;
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slide {
  display: none;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.slide_img_container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  padding: 0px;
}

.slide_img_container > img {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.slide_artist {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  float: left;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
  padding-top: 0px;
  padding-bottom: 0px;

}

.slide_song {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  background-color: #73bbff;
  border: solid white 1px;
  float: left;
  overflow: hidden;
  margin: 0px;
  white-space: nowrap;
  padding-top: 0px;
  padding-bottom: 0px;
}

.slide_artist:hover {
  background-color: #0033CC;
  color: white;
  cursor: pointer;
}

.slide_song:hover {
  background-color: #0033CC;
  color: white;
  cursor: pointer;
}

.slide_btn_left {
  border: solid black 2px;
  transition-duration: 0.2s;
  top: calc(50% - 20px);
  left: 0px;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  z-index: 1;
  position: absolute;
  background:rgba(0,0,0,0.5);
  color: white;
}

.slide_btn_left:hover {
  top: calc(50% - 20px);
  left: 0px;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  z-index: 1;
  position: absolute;
  background:rgba(0,0,0,0.25);
  color: white;
}

.slide_btn_right {
  border: solid black 2px;
  transition-duration: 0.2s;
  top: calc(50% - 20px);
  right: 0px;
  height: 40px;
  width: 40px;
  z-index: 3;
  position: absolute;
  background:rgba(0,0,0,0.25);
  color: white;
}

.slide_btn_right:hover {
  top: calc(50% - 20px);
  right: 0px;
  height: 40px;
  width: 40px;
  z-index: 3;
  position: absolute;
  background:rgba(0,0,0,0.75);
  color: white;
}

